.skillmain{
    min-height:60vh;

    padding:100px 120px;

    background:#050505;
}

.skillmain h3{
    color:#a855f7;

    font-size:2rem;
    letter-spacing:3px;
    text-transform:uppercase;
display:flex;
justify-content: center;
    margin-bottom:50px;
    
}

/* ICON CONTAINER */

.skills-grid{
    display:flex;
    flex-wrap:wrap;
    gap:25px;
    justify-content: center;
}

/* CARD */

.icon-float{
    width:120px;
    height:120px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:3rem;

    border-radius:24px;

    background:rgba(255,255,255,0.03);

    border:1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(10px);

    transition:all 0.35s ease;

    cursor:pointer;
}

.icon-float:hover{
    transform:translateY(-10px);

    border-color:#a855f7;

    box-shadow:
    0 15px 40px rgba(168,85,247,0.25);
}

/* COLORS */

.text-orange-600{
    color:#f97316;
}

.text-blue-600{
    color:#2563eb;
}

.text-yellow-400{
    color:#facc15;
}

.text-blue-400{
    color:#38bdf8;
}

.text-teal-400{
    color:#2dd4bf;
}

.text-white{
    color:#ffffff;
}

/* SVG SIZE */

.icon-float svg{
    width:55px;
    height:55px;
}

/* TABLET */
@media (max-width:768px){

    .skill-slider{
        width:100%;
        overflow:hidden;
        position:relative;
    }

    .skills-grid{
        display:flex;
        gap:20px;
        width:max-content;

        animation:skillSlide 12s linear infinite;
    }

    .icon-float{
        flex-shrink:0;
    }
}

@keyframes skillSlide{

    0%{
        transform:translateX(-100%);
    }

    100%{
        transform:translateX(100%);
    }
}